.clickable
{
  cursor: pointer;
}

.clickable .glyphicon
{
  display: inline-block;
  padding: 6px 12px;
}

.panel-heading span
{
  margin-top: -23px;
  font-size: 15px;
  margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.searchbox {
  margin-bottom: 6px;
}
