
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div [dropzone]="dropzoneConfig" 
      (error)="onUploadError($event)" 
      (success)="onUploadSuccess($event)"
    ></div>
    <tag-input #tagInput [ngModel]="tags" [identifyBy]="'id'" [displayBy]="'name'"
      [placeholder]="'+ Reviewer'"
      [secondaryPlaceholder]="'Add reviewers'"
      [onlyFromAutocomplete]="true"
      [theme]="'bootstrap'"
      (onAdd)="onAddReviewer($event)"
      (onRemove)="onRemoveReviewer($event)"
      [tabindex]="0"
      [inputId]="'tagInput'"
      >
      <tag-input-dropdown
        [limitItemsTo]="10"
        [autocompleteItems]="autoCompleteTags"
        [focusFirstElement]="true"
        [displayBy]="'name'"
        [identifyBy]="'id'">
        <ng-template let-item="item" let-index="index">
          <i *ngIf="item.type==='user'" class="fa fa-user"></i>
          <i *ngIf="item.type==='group'" class="fa fa-users"></i> {{ item.name }} ({{item.id}})
        </ng-template>
       </tag-input-dropdown>
    </tag-input> 

    <a href="#" class="upload-button btn btn-block btn-lg btn-primary pull-right"><span class="glyphicon glyphicon-cloud-upload"></span> Submit</a>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  </div>
</div>
  
